@font-face {
    font-family: 'Goia';
    src: url('../assets/fonts/Goia/Variable/GoiaVariable.ttf') format('truetype');
    src: url('../assets/fonts/Goia/Variable/GoiaDisplayVariable.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}