@import './mixins.scss';

.song-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    border-radius: 15px;
    list-style: none;
    background-color: #F7F7F7;
    padding: 20px;

    li {
        background-color: $primary-color;
        padding: 20px;
        margin: 10px 0;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        list-style: none;

        a {
            color: white;
            text-decoration: none;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

.karakaku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-list{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.btn-primary {
    @include button($primary-color);
}

.btn-secondary {
    @include button($error-color);
}

.lyrics, .text-input {
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
    margin-top: 2rem;
    max-height: 50vh;
    font-family: 'Goia', sans-serif;
    transition: all 0.1s ease-in-out;

}

.lyric-line {
    position: relative;
    margin: 10px 0;
    transition: all 0.1s ease-in-out;
    text-align: center;

    .current-lyric-container {
        position: relative;

        .current-lyric {
            white-space: pre-wrap;
        }

        .text-input {
            position: absolute;
            top: -30px;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            color: transparent;
            caret-color: transparent;
            outline: none;
            z-index: 1;
        }
    }
}

.current {
    position: relative;
    margin: 10px 0;
    color: #FBDEE2;
    transition: all 0.1s ease-in-out;
    .text-input {
        color: #FBDEE2;
        caret-color: white;
        border: none;
        background: transparent;
        outline: none;
        width: 100%;
        padding: 0;
        transition: all 0.1s ease-in-out;
    }

    .right {
        color: $primary-color;
    }

    .wrong {
        color: $error-color;
    }
}

.previous, .next {
    color: #888;
}

.caret {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: $primary-color;
    animation: blink 1s ease-in-out infinite;
    transition: all 0.1s ease-in-out;
    top: 0;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
