@import './mixins.scss';

.song-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 2rem;
    border-radius: 15px;
    list-style: none;
    background-color: #F7F7F7;
    padding: 20px;

    li {
        background-color: $primary-color;
        padding: 20px;
        margin: 10px 0;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        list-style: none;

        a {
            color: white;
            text-decoration: none;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

.karakaku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-start {
    @include button($primary-color);
}

.lyrics, .text-input {
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
    margin-top: 2rem;
    max-height: 50vh;
    font-family: 'Goia', sans-serif;
}

.lyric-line {
    position: relative;
    margin: 10px 0;

    .current-lyric-container {
        position: relative;

        .current-lyric {
            white-space: pre-wrap;
        }

        .text-input {
            position: absolute;
            top: -30px;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            color: transparent;
            caret-color: transparent;
            outline: none;
            z-index: 1;
        }
    }
}

.current {
    position: relative;
    margin: 10px 0;
    color: #FBDEE2;
}

.current .text-input {
    color: #FBDEE2;
    caret-color: white;
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    padding: 0;
}

.current .right {
    color: $primary-color;
}

.current .wrong {
    color: $error-color;
}

.previous,
.next {
    color: #888;
}

#caret {
    display: inline-block;
    width: 3px;
    background-color: $primary-color;
    animation: blink 1s step-end infinite;
}

/* Ajoutez ceci à votre fichier CSS/scss */

/* Curseur personnalisé */
.custom-cursor {
    position: absolute;
    width: 2px; /* Ajustez cette valeur pour la largeur du curseur */
    background-color: $primary-color; /* Couleur de la barre oblique */
    animation: blink 1s ease-in-out infinite;
    pointer-events: none; /* Empêcher le curseur d'interférer avec l'input */
    transition: all 0.1s ease-in-out;
}

/* Animation pour faire clignoter la barre oblique */
@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Cacher le curseur d'insertion de texte par défaut */
.text-input {
    caret-color: transparent;
}

