$primary-color: #EC5C6C;
$secondary-color: #FBDEE2;
$error-color: #FC9464;
$text-color: #fff;
$background-color: #1E1E1E;
$sandy-color: #ECAC64;
$font-family-base: 'Goia', sans-serif;

$button-padding: 0.5rem 1rem;
$button-border-radius: 50px;
